@using System.Configuration
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eLogbook - @ConfigurationManager.AppSettings["Env"]</h1>
    Demo setup for the eLogbook app. Bug FIxed !!!
</div>

<div class="row">
    Welcome to elogbook - UAT Environement v.1.2
</div>