@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eLogbook - UAT</h1>
    Demo setup for the eLogbook app.
</div>

<div class="row">
    Welcome to elogbook - UAT Environement
</div>